.post-view {
    max-width: 650px;
    text-align: left;
    position: relative;
    box-sizing: border-box;
}

.title {
    display: inline-block;
    margin-left: 2.5rem;
    margin-right: 8rem;
    color: #ed0092;
    margin-top: 0px;
    margin-bottom: 2rem;
}

.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5rem;
    display: inline-flex;
    align-self: center;
    text-decoration: none;
    color: white;
    transition: 0.1s ease all;
}
.back-btn:hover{
    color: #ed0092;
    text-decoration: none;
}
.back-btn:active{
    transform: scale(1.05);
    text-decoration: none;
}

.back-btn svg {
    height: 0.75em;
    width: 0.75em;
}

.back-btn.svg-baseline svg {
    top: .250em;
    position: relative;
}

.post-view .post-info{
    flex-direction: column;
    top: 0;
    right: 0;
}

.post-view .info-field {
    font-size: 12px;
    background-color: #8e0b36;
    border-bottom-right-radius: 0px;
}
.post-view .info-field::before {
    display: none;
}


@media (max-width:456px) {
    .title {
        margin-left: 0rem;
        margin-right: 0rem;
        color: #ed0092;
        margin-top: 6rem;
        margin-bottom: 3rem;
        box-sizing: border-box;
    }
    .back-btn{
        top: 0;
    }
    .post-view .post-info{
        flex-direction: unset;
        top: 0;
        right: 0;
    }
    
}

@media (max-width:356px) {
    .post-view .post-info{
        flex-direction: column;
        top: 0;
        right: 0;
    }
    
}
