#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.quote {
  background: linear-gradient(2deg,
      rgb(64, 9, 32, 0.5) 10%,
      rgb(110, 20, 58, 0.5) 90%,
      rgba(93, 13, 46, 0.5) 100%);
  padding: 4px 8px;
  margin-left: 8px;
  margin-right: 4rem;
  border-radius: 4px;
}

.quote h3:first-child{
  margin-top: 0px;
  margin-bottom: 0.5rem;
}
.quote h3{
  /* margin: 0; */
  display: inline-block;
}

.code {
  background: rgb(37, 16, 25);
  padding: 4px 8px;
  border-radius: 4px;
}

@media (max-width:356px) {
  #root {
    padding: 2rem 1rem;
  }

}